body {
	font-size: 13px;
	line-height: 24px;
	color: black;
	font-weight: normal;
	font-family: "PT Sans", "Arial", sans-serif;
}

.block-title {
	font-size: 30px;
	line-height: 30px;
	color: #3d546e;
	font-family: "Cuprum", "Arial", sans-serif;
}

.content-title {
	font-size: 30px;
	line-height: 24px;
	font-family: "Cuprum", "Arial", sans-serif;
}